<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button [disabled]="loading" (click)="print()">Print</ion-button>
    <p>
      {{message}}
    </p>
  </div>
</ion-content>
